.center{
 margin:31px 100px;
 
}

.lock_center{
    margin:31px 18px;
   
}
.form{
    margin-left: 20px;
    margin-right: 20px;
}
.btn{
    margin: 27px 76px;
    background-color:'#1c1d73'
}
h3{
    color:#1c1d73 ;
}